{% load static %}
<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.jpg'%}" />

    <title> Mental-Health</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <link rel="stylesheet" href="path/to/fontawesome.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- /fonts -->

    <!-- style -->

    <link rel='stylesheet' href="{% static 'css/style.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/skin.responsive.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/responsive.css' type='text/css'%}" media='all' />
    <link rel='stylesheet' href="{% static 'js/revslider/css/settings.min.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css' type='text/css'%}" media='all' />
    <link rel='stylesheet' href="{% static 'css/shortcodes/theme.shortcodes.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/fontello/css/fontello.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/core.animation.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/skins/less/skin.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom-style.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/animations.css'%}" type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'js/swiper/swiper.css'%}" type="text/css" media="all" />
    <link rel="stylesheet" href="{% static 'js/testimonialcarousel/slick/style.min.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'js/essential-grid/css/lightbox.min.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'js/essential-grid/css/settings.css'%}" media="all" />
    <link rel="stylesheet" href="{% static 'js/essential-grid/css/inline-gallery-grid.min.css'%}" media="all" />
    <!-- /style -->
</head>

<body class="page cloe_brooks_body body_style_wide body_transparent theme_skin_less article_style_stretch layout_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <!-- Header -->
            <header class="top_panel_wrap top_panel_style_3 scheme_original">
                <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                    <div class="scheme_dark">
                        <div class="top_panel_top top_panel_inner_style_3">
                            <div class="content_wrap clearfix">
                                <div class="top_panel_top_contact_area contact_address">
                                    <i class="fa fa-regular fa-flag"></i>
                                    <span>123, Cairo Egypt, IL 60606</span>
                                </div>
                                <div class="top_panel_top_user_area">
                                    <div class="top_panel_top_contact_area contact_email">
                                        <i class="fa fa-solid fa-envelope"></i>
                                        <span><a href="mailto:info@yoursite.com">info@yoursite.com</a></span>
                                    </div>
                                    <div class="top_panel_top_contact_area contact_phone">
                                        <i class="fa fa-thin fa-phone"></i>

                                        <span><a href="tel:+1234567890">123-456-7890</a></span>
                                    </div>
                                    <ul id="menu_user" class="menu_user_nav">
                                        <li class="menu-item menu-item-type-post_type">
                                            <a href="{% url 'appointments'%}">Make an appointment</a>
  

                                        </li>
                                    </ul>
                                </div>
                            </div>                                                  
                        </div>
                    </div>
                    <div class="scheme_light">
                        <div class="top_panel_middle top_panel_inner_style_3">
                            <div class="content_wrap">
                                <div class="contact_logo">
                                    <div class="logo">
                                        <a href="">
                                                <img src="{% static 'images/a55.png'%}" class="logo_main"  alt="">
                                                <img src="{% static 'images/s22.png'%}" class="logo_fixed" alt="">
                                            </a>
                                    </div>
                                </div>
                                <div class="menu_main_wrap">
                                    <nav class="menu_main_nav_area">
                                        <ul id="menu_main" class="menu_main_nav" >
                                            <li class="menu-item menu-item-has-childrencurrent-menu-item">
                                                <a href="{% url 'index'%}">Home 
                                                </a>
                                               
                                            </li>
                                            <li class="menu-item current-menu-ancestor current-menu-parent menu-it em-has-children">
                                                <a href="{% url 'about-me'%}">About-us</a>
                                                
                                            </li>
                                            
                                            <li class="menu-item">
                                                <a href="{% url 'categorywithoutsidebar'%}">Information</a>
                                            </li>
                                                   
                                                    
                                            </li>
                                            <li class="menu-item menu-item-has-childre n">
                                                <a href="{% url 'shop'%}">pharmacy</a>
                                                
                                            </li>
                                            <li class="menu-item">
                                                <a href="{% url 'contact'%}">Contact</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="{% url 'lobby1'%}">contact With Video</a>
                                                    </li>
                                                    
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-childre n">
                                                <a href="{% url 'depretion'%}">Tests</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="{% url 'depretion'%}">Depretion</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="{% url 'adhd'%}">ADHD</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="{% url 'anxiety'%}">anxiety</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="{% url 'bipolar'%}">Bipolar</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-childre n">
                                                <a href="{% url 'depretion'%}">Mental Health Genes Test</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="{% url 'form3' %}">Compute GC Test</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="{% url 'form4'%}">Parse Sequence for Motif Test</a>
                                                    </li>
                                                  
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- /Header -->


            <!-- header_mobile -->
            <div class="header_mobile">
                <div class="content_wrap">
                    <div class="menu_button icon-menu"></div>
                    <div class="logo">
                        <a href="index.html">
                                <img src="images/logo_light.png" class="logo_main" id="logo_main" alt="">
                                <img src="images/logo_dark.png" class="logo_fixed" alt="">
                            </a>
                    </div>
                </div>
                <div class="side_wrap">
                    <div class="close">Close</div>
                    <!-- panel_top -->
                    <div class="panel_top">
                        <ul id="menu_main_mobile" class="menu_main_nav">
                            <li class="menu-item menu-item-has-childre n">
                                <a href="#">Home</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="index.html">Home 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="index-2.html">Home 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="#">Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="about-me.html">About Me</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pricing.html">Pricing</a></li>
                                    <li class="menu-item ">
                                        <a href="shortcodes.html">Shortcodes</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="typography.html">Typography</a>
                                    </li>
                                    <li class="menu-item">
                                        <a target="_blank" href="doc/index.html">Documentation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children current-menu-item page_item current_page_item">
                                <a href="#">Gallery</a>
                                <ul class="sub-menu">
                                    <li class="menu-item current-menu-item">
                                        <a href="gallery-grid.html">Grid Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-masonry.html">Masonry Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="category-standard-blog.html">Standard Blog</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-without-sidebar.html">Without Sidebar</a>
                                    </li>
                                    <li class="menu-item menu-item-has-childre n">
                                        <a href="#">Blog Masonry</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-masonry-2-columns.html">Masonry 2 Columns</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-masonry-3-columns.html">Masonry 3 Columns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-childre n">
                                        <a href="#">Blog Portfolio</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-portfolio-2-columns.html">
                                                        Portfolio 2 Columns
                                                    </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-portfolio-3-columns.html">
                                                        Portfolio 3 Columns
                                                    </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-post-formats.html">
                                                Post Formats
                                            </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="shop.html">Shop</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="product-single.html">Single Product</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact</a>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="forums.html">Forums</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="activity.html">Activity</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="groups.html">Groups</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="members.html">Members</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel_top -->

                    <!-- panel_middle -->
                    <div class="panel_middle">
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-phone"></span>
                            <span class="contact_label contact_phone">123-456-7890</span>
                            <span class="contact_email">info@yoursite.com</span>
                        </div>
                    </div>
                    <!-- /panel_middle -->
                </div>
                <div class="mask"></div>
                <!-- /header_mobile -->
            </div>
        </div>
        <div class="top_panel_title top_panel_style_1  title_present breadcrumbs_present scheme_dark ">
            <div class="top_panel_title_inner top_panel_inner_style_1 title_present_inner breadcrumbs_present_inner panel_img">
                <div class="content_wrap">
                    <h1 class="page_title">Grid Gallery</h1>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Grid Gallery</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="page_content_wrap page_paddings_yes">
            <div class="content_wrap">
                <div class="content">
                    <div class="wrapper">
                        <div class="myportfolio-container minimal-light" id="esg-grid-1-1-wrap">
                            <div id="esg-grid-1-1" class="esg-grid">
                                <!-- filterbuttons -->
                                <div class="esg-filters esg-singlefilters">
                                    <div class="esg-filter-wrapper esg-fgc-1">
                                        <div class="esg-filterbutton selected esg-allfilter" data-filter="filterall" data-fid="-1">
                                            <span>My Office</span>
                                        </div>
                                        <div class="esg-filterbutton" data-fid="14" data-filter="filter-lectures">
                                            <span>Lectures</span>
                                            <span class="esg-filter-checked">
                                                    <i class="eg-icon-ok-1"></i>
                                                </span>
                                        </div>
                                        <div class="esg-filterbutton" data-fid="15" data-filter="filter-presentations">
                                            <span>Presentations</span>
                                            <span class="esg-filter-checked">
                                                    <i class="eg-icon-ok-1"></i>
                                                </span>
                                        </div>
                                        <div class="esg-filterbutton latest_class_item" data-fid="17" data-filter="filter-biological">
                                            <span>Biological</span>
                                            <span class="esg-filter-checked">
                                                    <i class="eg-icon-ok-1"></i>
                                                </span>
                                        </div>
                                        <div class="eg-clearfix"></div>
                                    </div>
                                </div>
                                <!-- /filterbuttons -->
                                <div class="esg-clear-no-height"></div>
                                <!-- Grid -->
                                <ul>
                                    <li class="filterall filter-standard-blog filter-without-sidebar filter-my-office filter-presentations eg-psycho-1-wrapper eg-post-id-135" data-date="1455969893">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-13.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-135 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-135 esgbox" href="images/post-2.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-135 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-135" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-standard-blog filter-without-sidebar filter-my-office filter-presentations eg-psycho-1-wrapper eg-post-id-135" data-date="1455969893">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-12.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-135 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-135 esgbox" href="images/post-3.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-135 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-135" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-standard-blog filter-without-sidebar filter-lectures filter-my-office eg-psycho-1-wrapper eg-post-id-117" data-date="1455098895">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-11.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-117 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-117 esgbox" href="images/post-4.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-117 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-117" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-portfolio-2-columns filter-portfolio-3-columns filter-biological eg-psycho-1-wrapper eg-post-id-119" data-date="1455098895">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-9.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-119 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-119 esgbox" href="images/post-4.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-119 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-119" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-masonry-2-columns filter-masonry-3-columns filter-biological eg-psycho-1-wrapper eg-post-id-121" data-date="1455098895">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-10.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-121 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-121 esgbox" href="images/post-4.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-121 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-121" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-standard-blog filter-without-sidebar filter-my-office filter-presentations eg-psycho-1-wrapper eg-post-id-111" data-date="1454493623">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-7.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-111 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-111 esgbox" href="images/post-5.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-111 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-111" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-standard-blog filter-subcat filter-without-sidebar filter-lectures filter-my-office eg-psycho-1-wrapper eg-post-id-104" data-date="1453369978">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-6.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-104 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-104 esgbox" href="images/post-6.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-104 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-104" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-standard-blog filter-without-sidebar filter-my-office filter-presentations eg-psycho-1-wrapper eg-post-id-86" data-date="1452418091">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-5.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-86 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-86 esgbox" href="images/post-10.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-86 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-86" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-standard-blog filter-without-sidebar filter-lectures filter-my-office eg-psycho-1-wrapper eg-post-id-92" data-date="1452331846">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/service-8.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-92 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-92 esgbox" href="images/post-9.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-92 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-92" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-portfolio-2-columns filter-portfolio-3-columns filter-biological eg-psycho-1-wrapper eg-post-id-94" data-date="1452331846">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-3.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-94 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-94 esgbox" href="images/post-9.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-94 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-94" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="filterall filter-masonry-2-columns filter-masonry-3-columns filter-biological eg-psycho-1-wrapper eg-post-id-96" data-date="1452331846">
                                        <div class="esg-media-cover-wrapper">
                                            <div class="esg-entry-media">
                                                <img src="images/post-2.jpg" alt="">
                                            </div>
                                            <div class="esg-entry-cover esg-fade" data-delay="0">
                                                <div class="esg-overlay esg-fade eg-psycho-1-container" data-delay="0"></div>
                                                <div class="esg-center eg-post-96 eg-psycho-1-element-0-a esg-falldown" data-delay="0.1">
                                                    <a class="eg-psycho-1-element-0 eg-post-96 esgbox" href="images/post-9.jpg">
                                                            <i class="eg-icon-search"></i>
                                                        </a>
                                                </div>
                                                <div class="esg-center eg-post-96 eg-psycho-1-element-1-a esg-falldown" data-delay="0.2">
                                                    <a class="eg-psycho-1-element-1 eg-post-96" href="#" target="_self">
                                                            <i class="eg-icon-link"></i>
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                                <!-- /Grid -->
                                <!--  esg-filters -->
                                <div class="esg-filters esg-singlefilters esg-single1">
                                    <div class="esg-pagination  esg-fgc-1 esg-single2"></div>
                                </div>
                                <!--  /esg-filters -->
                                <div class="esg-clear-no-height"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- footer -->
        <footer class="contacts_wrap scheme_light">
            <div class="contacts_wrap_inner">
                <div class="content_wrap">
                    <div class="logo">
                        <a href="">
                                <img src="{% static 'images/a55.png'%}" class="logo_footer" alt="">
                            </a>
                    </div>
                    <div class="contacts_address">
                        <address class="address_right">
                                Phone: <a href="tel:+1234567890">123-456-7890</a><br> Fax: <a href="tel:+1234567890">123.456.7890</a>
                            </address>
                        <address class="address_left">
                                123, Cairo<br> Egypt, IL 60606 
                            </address>
                    </div>
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_twitter">
                                <i class="fa fa-brands fa-twitter"></i>                                </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_facebook">
                                <i class="fa fa-brands fa-facebook"></i>                                </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_linkedin">
                                <i class="fa fa-brands fa-linkedin"></i>

                            </a>
                        </div>
                        <div class="container">
                            <form action="https://www.google.com/search" method="get" target="_blank" id="search-form">
                              <input name="q" type="text" placeholder="Search Google..." autocomplete="off" autofocus>
                                    <button type="button"><i class="fa fas fa-microphone"></i></button> 
                            </form>
                            <p class="info"></p>
                          </div>
                         </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /footer -->

    
    </div>
      <!-- Scroll to top -->
      <a  href="#" class="scroll_to_top icon- up"  title="Scroll to top">
        <i class="fa fa-solid fa-arrow-up"></i>

       
    </a>
    
    <!-- /Scroll to top -->


    <!-- All Script -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type='text/javascript' src="{% static 'js/_main.js' %}"></script>
    <script type='text/javascript' src="{% static 'js/packed.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/theme.init.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/core.utils.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/core.init.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/theme.shortcodes.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/swiper/swiper.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/isotope.pkgd.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/essential-grid/js/eggbfc-grid.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/essential-grid/js/lightbox.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/essential-grid/js/jquery.themepunch.tools.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/essential-grid/js/jquery.themepunch.essential.min.js'%}"></script>

    <!-- /All Script -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a765f92adc2538b","token":"dab7be3e6ab04952b40d6c8e93f6cc2a","version":"2023.2.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>