<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg" />

    <title>Members - Cloe Brooks - Psychologist</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <!-- /fonts -->

    <!-- style -->
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skins/less/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/animations.css' type='text/css' media='all' />
    <link rel="stylesheet" href="js/swiper/swiper.css" type="text/css" media="all">
    <link rel="stylesheet" href="js/bbpress/css/boddypress.min.css" type="text/css" media="all">
    <link rel="stylesheet" href="js/bbpress/css/plugin-bbpress.min.css" type="text/css" media="all">
    <!-- /style -->
</head>

<body class="groups activity single-item groups group-power-of-education group-home home buddypress page page-parent page-template-default cloe_brooks_body body_style_wide body_transparent theme_skin_less article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <!-- Header -->
            <header class="top_panel_wrap top_panel_style_3 scheme_original">
                <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                    <div class="scheme_dark">
                        <div class="top_panel_top top_panel_inner_style_3">
                            <div class="content_wrap clearfix">
                                <div class="top_panel_top_contact_area contact_address">
                                    <i class="icon icon-house158"></i>
                                    <span>123, New Lenox Chicago, IL 60606</span>
                                </div>
                                <div class="top_panel_top_user_area">
                                    <div class="top_panel_top_contact_area contact_email">
                                        <i class="icon icon-mail81"></i>
                                        <span><a href="mailto:info@yoursite.com">info@yoursite.com</a></span>
                                    </div>
                                    <div class="top_panel_top_contact_area contact_phone">
                                        <i class="icon icon-telephone51"></i>
                                        <span><a href="tel:+1234567890">123-456-7890</a></span>
                                    </div>
                                    <ul id="menu_user" class="menu_user_nav">
                                        <li class="menu-item menu-item-type-post_type">
                                            <a href="appointment.html">Make an appointment</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scheme_light">
                        <div class="top_panel_middle top_panel_inner_style_3">
                            <div class="content_wrap">
                                <div class="contact_logo">
                                    <div class="logo">
                                        <a href="index.html">
                                                <img src="images/logo_light.png" class="logo_main" alt="">
                                                <img src="images/logo_light_fixed.png" class="logo_fixed" alt="">
                                            </a>
                                    </div>
                                </div>
                                <div class="menu_main_wrap">
                                    <nav class="menu_main_nav_area">
                                        <ul id="menu_main" class="menu_main_nav">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Home</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="index.html">Home 1</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="index-2.html">Home 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Features</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="about-me.html">About Me</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="pricing.html">Pricing</a></li>
                                                    <li class="menu-item page_item">
                                                        <a href="shortcodes.html">Shortcodes</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item current_page_item">
                                                        <a href="typography.html">Typography</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a target="_blank" href="doc/index.html">Documentation</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Gallery</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="gallery-grid.html">Grid Gallery</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="gallery-masonry.html">Masonry Gallery</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="category-standard-blog.html">Standard Blog</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="category-without-sidebar.html">Without Sidebar</a>
                                                    </li>
                                                    <li class="menu-item menu-item-has-children">
                                                        <a href="#">Blog Masonry</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="category-masonry-2-columns.html">Masonry 2 Columns</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="category-masonry-3-columns.html">Masonry 3 Columns</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-has-children">
                                                        <a href="#">Blog Portfolio</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="category-portfolio-2-columns.html">Portfolio 2 Columns</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="category-portfolio-3-columns.html">Portfolio 3 Columns</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="category-post-formats.html">Post Formats</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="shop.html">Shop</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="shop.html">Shop</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="product-single.html">Single Product</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact.html">Contact</a>
                                            </li>
                                            <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent">
                                                <a href="forums.html">Forums</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="activity.html">Activity</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="groups.html">Groups</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item">
                                                        <a href="members.html">Members</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- /Header -->

            <!-- header_mobile -->
            <div class="header_mobile">
                <div class="content_wrap">
                    <div class="menu_button icon-menu"></div>
                    <div class="logo">
                        <a href="index.html">
                                <img src="images/logo_light.png" class="logo_main" alt="">
                            </a>
                    </div>
                </div>
                <div class="side_wrap">
                    <div class="close">Close</div>
                    <!-- panel_top -->
                    <div class="panel_top">
                        <ul id="menu_main_mobile" class="menu_main_nav">
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Home</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="index.html">Home 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="index-2.html">Home 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="about-me.html">About Me</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pricing.html">Pricing</a></li>
                                    <li class="menu-item page_item">
                                        <a href="shortcodes.html">Shortcodes</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="typography.html">Typography</a>
                                    </li>
                                    <li class="menu-item">
                                        <a target="_blank" href="doc/index.html">Documentation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Gallery</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="gallery-grid.html">Grid Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-masonry.html">Masonry Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="category-standard-blog.html">Standard Blog</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-without-sidebar.html">Without Sidebar</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Blog Masonry</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-masonry-2-columns.html">Masonry 2 Columns</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-masonry-3-columns.html">Masonry 3 Columns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Blog Portfolio</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-portfolio-2-columns.html">
                                                        Portfolio 2 Columns
                                                    </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-portfolio-3-columns.html">
                                                        Portfolio 3 Columns
                                                    </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-post-formats.html">
                                                Post Formats
                                            </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="shop.html">Shop</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="product-single.html">Single Product</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact</a>
                            </li>
                            <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent ">
                                <a href="forums.html">Forums</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="activity.html">Activity</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="groups.html">Groups</a>
                                    </li>
                                    <li class="menu-item current-menu-item">
                                        <a href="members.html">Members</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel_top -->

                    <!-- panel_middle -->
                    <div class="panel_middle">
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-phone"></span>
                            <span class="contact_label contact_phone">123-456-7890</span>
                            <span class="contact_email">info@yoursite.com</span>
                        </div>
                    </div>
                    <!-- /panel_middle -->
                </div>
                <div class="mask"></div>
                <!-- /header_mobile -->
            </div>
        </div>

        <!-- top_panel_title -->
        <div class="top_panel_title top_panel_style_3  title_present breadcrumbs_present scheme_dark ">
            <div class="top_panel_title_inner top_panel_inner_style_3 title_present_inner breadcrumbs_present_inner panel_img">
                <div class="content_wrap">
                    <h1 class="page_title">Members</h1>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Members</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top_panel_title -->

        <!-- page_content_wrap -->
        <div class="page_content_wrap page_paddings_yes">
            <div class="content_wrap">
                <div class="content">
                    <div class="post_item post_item_single post_featured_default post_format_standard page type-page">
                        <div class="post_content">
                            <div id="buddypress">
                                <div id="members-dir-search" class="dir-search" role="search">
                                    <form action="#" method="get" id="search-members-form">
                                        <label for="members_search">
                                                    <input type="text" name="members_search" id="members_search" placeholder="Search Members...">
                                            </label>
                                        <input type="submit" id="members_search_submit" name="members_search_submit" value="Search">
                                    </form>
                                </div>
                                <form action="#" method="post" id="members-directory-form" class="dir-form">
                                    <div class="item-list-tabs" role="navigation">
                                        <ul>
                                            <li class="selected" id="members-all">
                                                <a href="#">
                                                        All Members 
                                                        <span>15</span>
                                                    </a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="item-list-tabs" id="subnav" role="navigation">
                                        <ul>
                                            <li id="members-order-select" class="last filter">
                                                <label for="members-order-by">Order By:</label>
                                                <select id="members-order-by">
                                                        <option value="active">Last Active</option>
                                                        <option value="newest">Newest Registered</option>
                                                        <option value="alphabetical">Alphabetical</option>
                                                    </select>
                                            </li>
                                        </ul>
                                    </div>
                                    <div id="members-dir-list" class="members dir-list">
                                        <div id="pag-top" class="pagination">
                                            <div class="pag-count" id="member-dir-count-top">
                                                Viewing 1 - 15 of 15 active members
                                            </div>
                                            <div class="pagination-links" id="member-dir-pag-top">
                                            </div>
                                        </div>
                                        <ul id="members-list" class="item-list">
                                            <!-- Member -->
                                            <li class="odd">
                                                <div class="item-avatar">
                                                    <a href="#">
                                                            <img src="images/ava.png" class="avatar user-18-avatar avatar-50 photo" alt="Profile picture of Faye">
                                                        </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="#">Faye</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">active 6 days, 5 hours ago</span>
                                                    </div>
                                                </div>
                                                <div class="action">
                                                </div>
                                                <div class="clear"></div>
                                            </li>
                                            <!-- /Member -->

                                            <!-- Member -->
                                            <li class="even">
                                                <div class="item-avatar">
                                                    <a href="#">
                                                            <img src="images/ava1.jpg" class="avatar user-19-avatar avatar-50 photo" alt="Profile picture of LAroche">
                                                        </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="#">LAroche</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">active 2 weeks, 1 day ago</span>
                                                    </div>
                                                </div>
                                                <div class="action"></div>
                                                <div class="clear"></div>
                                            </li>
                                            <!-- /Member -->

                                            <!-- Member -->
                                            <li class="odd">
                                                <div class="item-avatar">
                                                    <a href="#">
                                                             <img src="images/ava3.jpeg" class="avatar user-16-avatar avatar-50 photo" alt="Profile picture of vvvvvvvvvvv">
                                                        </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="#">vvvvvvvvvvv</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">active 1 month ago</span>
                                                    </div>
                                                </div>
                                                <div class="action"></div>
                                                <div class="clear"></div>
                                            </li>
                                            <!-- /Member -->

                                            <!-- Member -->
                                            <li class="even">
                                                <div class="item-avatar">
                                                    <a href="#">
                                                            <img src="images/ava.png" class="avatar user-11-avatar avatar-50 photo" alt="Profile picture of harun">
                                                        </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="#">harun</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">active 3 months ago</span>
                                                    </div>
                                                </div>
                                                <div class="action"></div>
                                                <div class="clear"></div>
                                            </li>
                                            <!-- /Member -->

                                            <!-- Member -->
                                            <li class="odd">
                                                <div class="item-avatar">
                                                    <a href="#">
                                                            <img src="images/ava.png" class="avatar user-2-avatar avatar-50 photo" alt="Profile picture of stefania panini">
                                                        </a>
                                                </div>
                                                <div class="item">
                                                    <div class="item-title">
                                                        <a href="#">stefania panini</a>
                                                    </div>
                                                    <div class="item-meta">
                                                        <span class="activity">active 5 months, 1 week ago</span>
                                                    </div>
                                                </div>
                                                <div class="action"></div>
                                                <div class="clear"></div>
                                            </li>
                                            <!-- /Member -->
                                        </ul>

                                        <!-- pagination -->
                                        <div id="pag-bottom" class="pagination">
                                            <div class="pag-count" id="member-dir-count-bottom">
                                                Viewing 1 - 15 of 15 active members
                                            </div>
                                            <div class="pagination-links" id="member-dir-pag-bottom">
                                            </div>
                                        </div>
                                        <!-- /pagination -->
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /page_content_wrap -->

        <!-- footer -->
        <footer class="contacts_wrap scheme_light">
            <div class="contacts_wrap_inner">
                <div class="content_wrap">
                    <div class="logo">
                        <a href="index.html">
                                <img src="images/logo_footer.png" class="logo_footer" alt="">
                            </a>
                    </div>
                    <div class="contacts_address">
                        <address class="address_right">
                                Phone: <a href="tel:+1234567890">123-456-7890</a><br> Fax: <a href="tel:+1234567890">123.456.7890</a>
                            </address>
                        <address class="address_left">
                                123, New Lenox<br> USA, Chicago, IL 60606 
                            </address>
                    </div>
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_twitter">
                                    <span class="icon-twitter"></span>
                                </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_facebook">
                                    <span class="icon-facebook"></span>
                                </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_linkedin">
                                    <span class="icon-linkedin"></span>
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /footer -->

        <!-- copyright_wrap footer-->
        <div class="copyright_wrap copyright_style_text scheme_dark">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <div class="copyright_text">
                        <a href="https://themerex.net/" target="_blank" class="copyright_link">ThemeREX © 2019 All Rights Reserved</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /copyright_wrap footer -->
    </div>

    <!-- Scroll to top -->
    <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
    <!-- /Scroll to top -->

    <!-- All Script -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type='text/javascript' src='js/_main.js'></script>
    <script type='text/javascript' src='js/packed.js'></script>
    <script type='text/javascript' src='js/theme.init.js'></script>
    <script type='text/javascript' src='js/core.utils.js'></script>
    <script type='text/javascript' src='js/core.init.js'></script>
    <script type='text/javascript' src='js/theme.shortcodes.js'></script>
    <script type='text/javascript' src='js/bbpress/js/editor.js'></script>
    <!-- /All Script -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a766d298e6d5385","token":"dab7be3e6ab04952b40d6c8e93f6cc2a","version":"2023.2.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>