<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg" />

    <title> Pricing - Cloe Brooks - Psychologist</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <!-- /fonts -->

    <!-- style -->
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skin.responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-awesome.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes/theme.shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/fontello/css/fontello.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/core.animation.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/skins/less/skin.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/custom-style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/animations.css' type='text/css' media='all' />
    <link rel="stylesheet" href="js/swiper/swiper.css" type="text/css" media="all">
    <!-- /style -->
</head>

<body class="pricing page cloe_brooks_body body_style_wide theme_skin_less article_style_stretch layout_single-standard template_single-standard scheme_original top_panel_show top_panel_above sidebar_hide sidebar_outer_hide">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
            <!-- Header -->
            <header class="top_panel_wrap top_panel_style_3 scheme_original">
                <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                    <div class="scheme_dark">
                        <div class="top_panel_top top_panel_inner_style_3">
                            <div class="content_wrap clearfix">
                                <div class="top_panel_top_contact_area contact_address">
                                    <i class="icon icon-house158"></i>
                                    <span>123, New Lenox Chicago, IL 60606</span>
                                </div>
                                <div class="top_panel_top_user_area">
                                    <div class="top_panel_top_contact_area contact_email">
                                        <i class="icon icon-mail81"></i>
                                        <span><a href="mailto:info@yoursite.com">info@yoursite.com</a></span>
                                    </div>
                                    <div class="top_panel_top_contact_area contact_phone">
                                        <i class="icon icon-telephone51"></i>
                                        <span><a href="tel:+1234567890">123-456-7890</a></span>
                                    </div>
                                    <ul id="menu_user" class="menu_user_nav">
                                        <li class="menu-item menu-item-type-post_type">
                                            <a href="appointment.html">Make an appointment</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="scheme_light">
                        <div class="top_panel_middle top_panel_inner_style_3">
                            <div class="content_wrap">
                                <div class="contact_logo">
                                    <div class="logo">
                                        <a href="index.html">
                                                <img src="images/logo_light.png" class="logo_main" alt="">
                                                <img src="images/logo_light_fixed.png" class="logo_fixed" alt="">
                                            </a>
                                    </div>
                                </div>
                                <div class="menu_main_wrap">
                                    <nav class="menu_main_nav_area">
                                        <ul id="menu_main" class="menu_main_nav">
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Home</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="index.html">Home 1</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="index-2.html">Home 2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
                                                <a href="#">Features</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="about-me.html">About Me</a>
                                                    </li>
                                                    <li class="menu-item current-menu-item page_item current_page_item">
                                                        <a href="pricing.html">Pricing</a></li>
                                                    <li class="menu-item">
                                                        <a href="shortcodes.html">Shortcodes</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="typography.html">Typography</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a target="_blank" href="doc/index.html">Documentation</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Gallery</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="gallery-grid.html">Grid Gallery</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="gallery-masonry.html">Masonry Gallery</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="#">Blog</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="category-standard-blog.html">Standard Blog</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="category-without-sidebar.html">Without Sidebar</a>
                                                    </li>
                                                    <li class="menu-item menu-item-has-children">
                                                        <a href="#">Blog Masonry</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="category-masonry-2-columns.html">Masonry 2 Columns</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="category-masonry-3-columns.html">Masonry 3 Columns</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item menu-item-has-children">
                                                        <a href="#">Blog Portfolio</a>
                                                        <ul class="sub-menu">
                                                            <li class="menu-item">
                                                                <a href="category-portfolio-2-columns.html">Portfolio 2 Columns</a>
                                                            </li>
                                                            <li class="menu-item">
                                                                <a href="category-portfolio-3-columns.html">Portfolio 3 Columns</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="category-post-formats.html">Post Formats</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="shop.html">Shop</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="shop.html">Shop</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="product-single.html">Single Product</a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="menu-item">
                                                <a href="contact.html">Contact</a>
                                            </li>
                                            <li class="menu-item menu-item-has-children">
                                                <a href="forums.html">Forums</a>
                                                <ul class="sub-menu">
                                                    <li class="menu-item">
                                                        <a href="activity.html">Activity</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="groups.html">Groups</a>
                                                    </li>
                                                    <li class="menu-item">
                                                        <a href="members.html">Members</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- /Header -->

            <!-- header_mobile -->
            <div class="header_mobile">
                <div class="content_wrap">
                    <div class="menu_button icon-menu"></div>
                    <div class="logo">
                        <a href="index.html">
                                <img src="images/logo_light.png" class="logo_main" alt="">
                            </a>
                    </div>
                </div>
                <div class="side_wrap">
                    <div class="close">Close</div>
                    <!-- panel_top -->
                    <div class="panel_top">
                        <ul id="menu_main_mobile" class="menu_main_nav">
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Home</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="index.html">Home 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="index-2.html">Home 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item current-menu-ancestor current-menu-parent menu-item-has-children">
                                <a href="#">Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="about-me.html">About Me</a>
                                    </li>
                                    <li class="menu-item current-menu-item page_item current_page_item">
                                        <a href="pricing.html">Pricing</a></li>
                                    <li class="menu-item">
                                        <a href="shortcodes.html">Shortcodes</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="typography.html">Typography</a>
                                    </li>
                                    <li class="menu-item">
                                        <a target="_blank" href="doc/index.html">Documentation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Gallery</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="gallery-grid.html">Grid Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-masonry.html">Masonry Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="category-standard-blog.html">Standard Blog</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-without-sidebar.html">Without Sidebar</a>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Blog Masonry</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-masonry-2-columns.html">Masonry 2 Columns</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-masonry-3-columns.html">Masonry 3 Columns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-children">
                                        <a href="#">Blog Portfolio</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-portfolio-2-columns.html">
                                                        Portfolio 2 Columns
                                                    </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-portfolio-3-columns.html">
                                                        Portfolio 3 Columns
                                                    </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-post-formats.html">
                                                Post Formats
                                            </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="shop.html">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="shop.html">Shop</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="product-single.html">Single Product</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact</a>
                            </li>
                            <li class="menu-item menu-item-has-children">
                                <a href="forums.html">Forums</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="activity.html">Activity</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="groups.html">Groups</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="members.html">Members</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel_top -->

                    <!-- panel_middle -->
                    <div class="panel_middle">
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-phone"></span>
                            <span class="contact_label contact_phone">123-456-7890</span>
                            <span class="contact_email">info@yoursite.com</span>
                        </div>
                    </div>
                    <!-- /panel_middle -->
                </div>
                <div class="mask"></div>
                <!-- /header_mobile -->
            </div>
        </div>

        <!-- top_panel_title -->
        <div class="top_panel_title top_panel_style_3 title_present breadcrumbs_present scheme_dark">
            <div class="top_panel_title_inner top_panel_inner_style_3 title_present_inner breadcrumbs_present_inner panel_img">
                <div class="content_wrap">
                    <h1 class="page_title">Pricing</h1>
                    <div class="breadcrumbs">
                        <a class="breadcrumbs_item home" href="index.html">Home</a>
                        <span class="breadcrumbs_delimiter"></span>
                        <span class="breadcrumbs_item current">Pricing</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- /top_panel_title -->

        <!-- Pricing Plans -->
        <div class="page_content_wrap page_paddings_no">
            <div class="content_wrap">
                <div class="itemscope post_item post_item_single post_featured_default post_format_standard">
                    <section class="post_content">
                        <div class="wrapper">
                            <h2 class="home_h2 sc_title sc_title_regular sc_align_center margin_top_huge margin_bottom_null">Pricing Plans</h2>
                            <div class="text_center">CHECK OUT OUR PRICING PLANS</div>
                            <div class="sc_tabs sc_tabs_style_1 margin_top_small margin_bottom_tiny ui-tabs ui-widget ui-widget-content ui-corner-all" data-active="0">
                                <ul class="sc_tabs_titles ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all text_center text_center1">
                                    <!-- Personal -->
                                    <li class="sc_tabs_title first ui-state-default ui-corner-top ui-tabs-active ui-state-active" tabindex="0" aria-controls="sc_tab_1_1_2" role="Personal" aria-labelledby="sc_tab_1_1_2_tab" aria-selected="true" aria-expanded="true">
                                        <a href="#sc_tab_1_1_2" class="theme_button ui-tabs-anchor" id="sc_tab_1_1_2_tab" tabindex="-1">
                                            Personal
                                        </a>
                                    </li>
                                    <!-- /Personal -->

                                    <!-- Corporative -->
                                    <li class="sc_tabs_title last ui-state-default ui-corner-top" tabindex="-1" aria-controls="sc_tab_1_2_58" aria-labelledby="sc_tab_1_2_2_tab" role="Corporative" aria-selected="false" aria-expanded="false">
                                        <a href="#sc_tab_1_2_58" class="theme_button ui-tabs-anchor" id="sc_tab_1_2_2_tab" tabindex="-1">
                                                Corporative
                                            </a>
                                    </li>
                                    <!-- /Corporative -->
                                </ul>
                                <!-- Personal -->
                                <div id="sc_tab_1_1_2" class="sc_tabs_content odd first ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="sc_tab_1_1_2_tab" role="tabpanel" aria-hidden="false">
                                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3 margin_top_small margin_bottom_large pricing_wrap">
                                        <div class="column-1_3 sc_column_item sc_column_item_1 odd first">
                                            <div class="sc_price_block sc_price_block_style_1">
                                                <div class="sc_price_block_money">
                                                    <div class="sc_price_block_icon none"></div>
                                                    <div class="sc_price">
                                                        <span class="sc_price_currency">$</span>
                                                        <span class="sc_price_money">100</span>
                                                    </div>
                                                </div>
                                                <div class="sc_price_block_title">
                                                    <span>Session Pay</span>
                                                </div>
                                                <div class="sc_price_block_description">
                                                    Sed ut perspiciatis uniste natus<br> error sit voluptatem accus antium
                                                </div>
                                                <div class="sc_price_block_link">
                                                    <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">
                                                            Order now
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_2 even">
                                            <div class="sc_price_block sc_price_block_style_1">
                                                <div class="sc_price_block_money">
                                                    <div class="sc_price">
                                                        <span class="sc_price_currency">$</span>
                                                        <span class="sc_price_money">350</span>
                                                    </div>
                                                </div>
                                                <div class="sc_price_block_title">
                                                    <span>Monthly Pay</span>
                                                </div>
                                                <div class="sc_price_block_description">
                                                    Sed ut perspiciatis uniste natus<br> error sit voluptatem accus antium
                                                </div>
                                                <div class="sc_price_block_link">
                                                    <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">
                                                            Order now
                                                        </a>
                                                </div>
                                                <div class="priceblock_label">Save 20%</div>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_3 odd">
                                            <div class="sc_price_block sc_price_block_style_1">
                                                <div class="sc_price_block_money">
                                                    <div class="sc_price">
                                                        <span class="sc_price_currency">$</span>
                                                        <span class="sc_price_money">200</span>
                                                    </div>
                                                </div>
                                                <div class="sc_price_block_title">
                                                    <span>Weekly Pay</span>
                                                </div>
                                                <div class="sc_price_block_description">
                                                    Sed ut perspiciatis uniste natus<br> error sit voluptatem accus antium
                                                </div>
                                                <div class="sc_price_block_link">
                                                    <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">
                                                            Order now
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Personal -->

                                <!-- Corporative -->
                                <div id="sc_tab_1_2_58" class="sc_tabs_content even ui-tabs-panel ui-widget-content ui-corner-bottom" aria-labelledby="sc_tab_1_2_2_tab" role="tabpanel" aria-hidden="true">
                                    <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_3 margin_top_small margin_bottom_huge pricing_wrap">
                                        <div class="column-1_3 sc_column_item sc_column_item_1 odd first">
                                            <div class="sc_price_block sc_price_block_style_1">
                                                <div class="sc_price_block_money">
                                                    <div class="sc_price">
                                                        <span class="sc_price_currency">$</span>
                                                        <span class="sc_price_money">200</span>
                                                    </div>
                                                </div>
                                                <div class="sc_price_block_title">
                                                    <span>Session Pay</span>
                                                </div>
                                                <div class="sc_price_block_description">
                                                    Sed ut perspiciatis uniste natus<br> error sit voluptatem accus antium
                                                </div>
                                                <div class="sc_price_block_link">
                                                    <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">
                                                            Order now
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_2 even">
                                            <div class="sc_price_block sc_price_block_style_1">
                                                <div class="sc_price_block_money">
                                                    <div class="sc_price">
                                                        <span class="sc_price_currency">$</span>
                                                        <span class="sc_price_money">550</span>
                                                    </div>
                                                </div>
                                                <div class="sc_price_block_title">
                                                    <span>Monthly Pay</span>
                                                </div>
                                                <div class="sc_price_block_description">
                                                    Sed ut perspiciatis uniste natus<br> error sit voluptatem accus antium
                                                </div>
                                                <div class="sc_price_block_link">
                                                    <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">
                                                            Order now
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="column-1_3 sc_column_item sc_column_item_3 odd">
                                            <div class="sc_price_block sc_price_block_style_1">
                                                <div class="sc_price_block_money">
                                                    <div class="sc_price">
                                                        <span class="sc_price_currency">$</span>
                                                        <span class="sc_price_money">400</span>
                                                    </div>
                                                </div>
                                                <div class="sc_price_block_title">
                                                    <span>Weekly Pay</span>
                                                </div>
                                                <div class="sc_price_block_description">
                                                    Sed ut perspiciatis uniste natus<br> error sit voluptatem accus antium
                                                </div>
                                                <div class="sc_price_block_link">
                                                    <a href="#" class="sc_button sc_button_square sc_button_style_filled sc_button_size_small">
                                                            Order now
                                                        </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- /Corporative -->
                            </div>
                        </div>
                    </section>
                </div>
            </div>
        </div>
        <!--/ Pricing Plans -->

        <!-- Questions & Concerns -->
        <div class="question_concerns">
            <div class="page_content_wrap page_paddings_no content_wrap">
                <div class="wrapper">
                    <div class="sc_section margin_top_huge margin_bottom_huge">
                        <div class="sc_section_inner">
                            <h2 class="sc_section_title sc_item_title home_h2">Questions & Concerns</h2>
                            <div class="sc_section_content_wrap">
                                <div class="columns_wrap sc_columns columns_nofluid sc_columns_count_2">
                                    <div class="column-1_2 sc_column_item sc_column_item_1 odd first">
                                        <div class="sc_accordion ui-accordion ui-widget ui-helper-reset" data-active="0" role="tablist">
                                            <div class="sc_accordion_item odd first sc_active">
                                                <h6 class="sc_accordion_title ui-accordion-header ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-id-1" aria-controls="ui-id-2" aria-selected="true" aria-expanded="true" tabindex="0">
                                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span> Where do I get started?
                                                </h6>
                                                <div class="sc_accordion_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-id-2" aria-labelledby="ui-id-1" role="tabpanel" aria-hidden="false">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                                                esse molestie consequat. Vel illum dolore eu feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sc_accordion_item even">
                                                <h6 class="sc_accordion_title ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-3" aria-controls="ui-id-4" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span> What happens at the end of the paid period?
                                                </h6>
                                                <div class="sc_accordion_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-4" aria-labelledby="ui-id-3" role="tabpanel" aria-hidden="true">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                                                esse molestie consequat. Vel illum dolore eu feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sc_accordion_item odd">
                                                <h6 class="sc_accordion_title ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-5" aria-controls="ui-id-6" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span> Can I cancel if I do not like the treatment?
                                                </h6>
                                                <div class="sc_accordion_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-6" aria-labelledby="ui-id-5" role="tabpanel" aria-hidden="true">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                                                esse molestie consequat. Vel illum dolore eu feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="column-1_2 sc_column_item sc_column_item_2 even">
                                        <div class="sc_accordion ui-accordion ui-widget ui-helper-reset" data-active="0" role="tablist">
                                            <div class="sc_accordion_item odd first sc_active">
                                                <h6 class="sc_accordion_title ui-accordion-header ui-state-default ui-accordion-header-active ui-state-active ui-corner-top ui-accordion-icons" role="tab" id="ui-id-7" aria-controls="ui-id-8" aria-selected="true" aria-expanded="true" tabindex="0">
                                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-s"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span> How do I know if there is a progress?
                                                </h6>
                                                <div class="sc_accordion_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom ui-accordion-content-active" id="ui-id-8" aria-labelledby="ui-id-7" role="tabpanel" aria-hidden="false">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                                                esse molestie consequat. Vel illum dolore eu feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sc_accordion_item even">
                                                <h6 class="sc_accordion_title ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-9" aria-controls="ui-id-10" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span> Do subscribers get a bonus for shopping?
                                                </h6>
                                                <div class="sc_accordion_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-10" aria-labelledby="ui-id-9" role="tabpanel" aria-hidden="true">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                                                esse molestie consequat. Vel illum dolore eu feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="sc_accordion_item odd">
                                                <h6 class="sc_accordion_title ui-accordion-header ui-state-default ui-corner-all ui-accordion-icons" role="tab" id="ui-id-11" aria-controls="ui-id-12" aria-selected="false" aria-expanded="false" tabindex="-1">
                                                    <span class="ui-accordion-header-icon ui-icon ui-icon-triangle-1-e"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_closed icon-plus"></span>
                                                    <span class="sc_accordion_icon sc_accordion_icon_opened icon-minus"></span> What are the books' and mags' delivery terms?
                                                </h6>
                                                <div class="sc_accordion_content ui-accordion-content ui-helper-reset ui-widget-content ui-corner-bottom" id="ui-id-12" aria-labelledby="ui-id-11" role="tabpanel" aria-hidden="true">
                                                    <div class="wpb_text_column wpb_content_element ">
                                                        <div class="wpb_wrapper">
                                                            <p>Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit
                                                                esse molestie consequat. Vel illum dolore eu feugiat nulla facilisis at vero.</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Questions & Concerns -->

        <!-- copyright_wrap footer-->
        <div class="copyright_wrap copyright_style_text scheme_dark">
            <div class="copyright_wrap_inner">
                <div class="content_wrap">
                    <div class="copyright_text">
                        <a href="https://themerex.net/" target="_blank" class="copyright_link">ThemeREX © 2019 All Rights Reserved</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- /copyright_wrap footer -->
    </div>

    <!-- Scroll to top -->
    <a href="#" class="scroll_to_top icon-up" title="Scroll to top"></a>
    <!-- /Scroll to top -->

    <!-- All Script -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type='text/javascript' src='js/_main.js'></script>
    <script type='text/javascript' src='js/packed.js'></script>
    <script type='text/javascript' src='js/photostack/modernizr.min.js'></script>
    <script type='text/javascript' src='js/theme.init.js'></script>
    <script type='text/javascript' src='js/core.utils.js'></script>
    <script type='text/javascript' src='js/core.init.js'></script>
    <script type='text/javascript' src='js/theme.shortcodes.js'></script>
    <!-- /All Script -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a76544abe6c5385","token":"dab7be3e6ab04952b40d6c8e93f6cc2a","version":"2023.2.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>