{% load static %}
<!DOCTYPE html>
<html lang="en-US" class="scheme_original">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" type="image/x-icon" href="images/favicon.jpg" />

    <title> Products - Cloe Brooks - Psychologist</title>

    <!-- fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700" rel="stylesheet">
    <!-- /fonts -->

    <!-- style -->
    <link rel='stylesheet' href="{% static 'css/style.css' type='text/css'%}" media='all' />
    <link rel='stylesheet' href="{% static 'css/skin.responsive.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/responsive.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/font-awesome.min.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'js/tooltipster/css/tooltipster.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'js/tooltipster/css/tooltipster-light.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/shortcodes/theme.shortcodes.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/fontello/css/fontello.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/core.animation.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/skins/less/skin.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/custom-style.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'css/animations.css' %}"type='text/css' media='all' />
    <link rel="stylesheet" href="{% static 'js/swiper/swiper.css'%}" type="text/css" media="all">
    <link rel='stylesheet' href="{% static 'js/woocommerce/css/woocommerce-layout.css' %}"type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'js/woocommerce/css/woocommerce-smallscreen.css'%}" type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href="{% static 'js/woocommerce/css/woocommerce.css'%}" type='text/css' media='all' />
    <link rel='stylesheet' href="{% static 'js/woocommerce/css/plugin.woocommerce.css'%}" type='text/css' media='all' />
    <!-- /style -->
</head>

<body class="shop archive post-type-archive post-type-archive-product woocommerce woocommerce-page cloe_brooks_body body_style_wide body_transparent theme_skin_less article_style_stretch layout_excerpt template_excerpt scheme_original top_panel_show top_panel_above sidebar_show sidebar_left sidebar_outer_hide">
    <div class="body_wrap">
        <div class="page_wrap">
            <div class="top_panel_fixed_wrap"></div>
           <!-- Header -->
           <header class="top_panel_wrap top_panel_style_3 scheme_original">
            <div class="top_panel_wrap_inner top_panel_inner_style_3 top_panel_position_above">
                <div class="scheme_dark">
                    <div class="top_panel_top top_panel_inner_style_3">
                        <div class="content_wrap clearfix">
                            <div class="top_panel_top_contact_area contact_address">
                                <i class="fa fa-regular fa-flag"></i>
                                <span>123, Cairo Egypt, IL 60606</span>
                            </div>
                            <div class="top_panel_top_user_area">
                                <div class="top_panel_top_contact_area contact_email">
                                    <i class="fa fa-solid fa-envelope"></i>
                                    <span><a href="mailto:info@yoursite.com">info@yoursite.com</a></span>
                                </div>
                                <div class="top_panel_top_contact_area contact_phone">
                                    <i class="fa fa-thin fa-phone"></i>

                                    <span><a href="tel:+1234567890">123-456-7890</a></span>
                                </div>
                                <ul id="menu_user" class="menu_user_nav">
                                    <li class="menu-item menu-item-type-post_type">
                                        <a href="{% url 'appointments'%}">Make an appointment</a>


                                    </li>
                                </ul>
                            </div>
                        </div>                                                  
                    </div>
                </div>
                <div class="scheme_light">
                    <div class="top_panel_middle top_panel_inner_style_3">
                        <div class="content_wrap">
                            <div class="contact_logo">
                                <div class="logo">
                                    <a href="">
                                            <img src="{% static 'images/a55.png'%}" class="logo_main"  alt="">
                                            <img src="{% static 'images/s22.png'%}" class="logo_fixed" alt="">
                                        </a>
                                </div>
                            </div>
                            <div class="menu_main_wrap">
                                <nav class="menu_main_nav_area">
                                    <ul id="menu_main" class="menu_main_nav" >
                                        <li class="menu-item menu-item-has-childrencurrent-menu-item">
                                            <a href="{% url 'index'%}">Home 
                                            </a>
                                           
                                        </li>
                                        <li class="menu-item current-menu-ancestor current-menu-parent menu-it em-has-children">
                                            <a href="{% url 'about-me'%}">About-us</a>
                                            
                                        </li>
                                        
                                    
                                        <li class="menu-item">
                                            <a href="{% url 'categorywithoutsidebar'%}">Information</a>
                                        </li>
                                               
                                                
                                        </li>
                                        <li class="menu-item menu-item-has-childre n">
                                            <a href="{% url 'shop'%}">pharmacy</a>
                                            
                                        </li>
                                        <li class="menu-item">
                                            <a href="{% url 'contact'%}">Contact</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="{% url 'lobby1'%}">contact With Video</a>
                                                </li>
                                                
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-childre n">
                                            <a href="{% url 'depretion'%}">Tests</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="{% url 'depretion'%}">Depretion</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="{% url 'adhd'%}">ADHD</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="{% url 'anxiety'%}">anxiety</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="{% url 'bipolar'%}">Bipolar</a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="menu-item menu-item-has-childre n">
                                            <a href="{% url 'depretion'%}">Mental Health Genes Test</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item">
                                                    <a href="{% url 'depretion'%}">Depretion</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="{% url 'adhd'%}">ADHD</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="{% url 'anxiety'%}">anxiety</a>
                                                </li>
                                                <li class="menu-item">
                                                    <a href="{% url 'bipolar'%}">Bipolar</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- /Header -->

            <!-- header_mobile -->
            <div class="header_mobile">
                <div class="content_wrap">
                    <div class="menu_button icon-menu"></div>
                    <div class="logo">
                        <a href="index.html">
                                <img src="images/logo_light.png" class="logo_main" alt="">
                            </a>
                    </div>
                </div>
                <div class="side_wrap">
                    <div class="close">Close</div>
                    <!-- panel_top -->
                    <div class="panel_top">
                        <ul id="menu_main_mobile" class="menu_main_nav">
                            <li class="menu-item menu-item-has-childre n">
                                <a href="#">Home</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="index.html">Home 1</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="index-2.html">Home 2</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="#">Features</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="about-me.html">About Me</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="pricing.html">Pricing</a></li>
                                    <li class="menu-item">
                                        <a href="shortcodes.html">Shortcodes</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="typography.html">Typography</a>
                                    </li>
                                    <li class="menu-item">
                                        <a target="_blank" href="doc/index.html">Documentation</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="#">Gallery</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="gallery-grid.html">Grid Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-masonry.html">Masonry Gallery</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="gallery-cobbles.html">Cobbles Gallery</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="#">Blog</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="category-standard-blog.html">Standard Blog</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-without-sidebar.html">Without Sidebar</a>
                                    </li>
                                    <li class="menu-item menu-item-has-childre n">
                                        <a href="#">Blog Masonry</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-masonry-2-columns.html">Masonry 2 Columns</a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-masonry-3-columns.html">Masonry 3 Columns</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item menu-item-has-childre n">
                                        <a href="#">Blog Portfolio</a>
                                        <ul class="sub-menu">
                                            <li class="menu-item">
                                                <a href="category-portfolio-2-columns.html">
                                                        Portfolio 2 Columns
                                                    </a>
                                            </li>
                                            <li class="menu-item">
                                                <a href="category-portfolio-3-columns.html">
                                                        Portfolio 3 Columns
                                                    </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="menu-item">
                                        <a href="category-post-formats.html">
                                                Post Formats
                                            </a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item menu-item-has-children current-menu-ancestor current-menu-parent ">
                                <a href="#">Shop</a>
                                <ul class="sub-menu">
                                    <li class="menu-item current-menu-item">
                                        <a href="shop.html">Shop</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="product-single.html">Single Product</a>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact</a>
                            </li>
                            <li class="menu-item menu-item-has-childre n">
                                <a href="forums.html">Forums</a>
                                <ul class="sub-menu">
                                    <li class="menu-item">
                                        <a href="activity.html">Activity</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="groups.html">Groups</a>
                                    </li>
                                    <li class="menu-item">
                                        <a href="members.html">Members</a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <!-- /panel_top -->

                    <!-- panel_middle -->
                    <div class="panel_middle">
                        <div class="contact_field contact_phone">
                            <span class="contact_icon icon-phone"></span>
                            <span class="contact_label contact_phone">123-456-7890</span>
                            <span class="contact_email">info@yoursite.com</span>
                        </div>
                    </div>
                    <!-- /panel_middle -->
                </div>
                <div class="mask"></div>
                <!-- /header_mobile -->
            </div>
        </div>
        <!-- page_content_wrap -->
        <div class="content_wrap">
            <div class="page_content_wrap page_paddings_yes">
                <div class="content_wrap">
                    <div class="content">
                        <!-- list_products -->
                        <div class="list_products shop_mode_thumbs">
                            <h6  class="page-title">
                                
                                Some of Mental Health Medicine
                            </h6>
                            <div class="mode_buttons">
                                
                            </div>
                        
                            <!-- /ordering -->

                            <!-- All products -->
                            <ul class="products">
                                <!-- product -->
                                <li class="post-206 product type-product status-publish has-post-thumbnail product_cat-all product_cat-magazines product_tag-novel column-1_3 first instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                        <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-3" title="product-3">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3>
                                                <a href="product-single.html">
                                                    Sertraline
                                                    </a>
                                            </h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>16.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="206" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-208 product type-product status-publish has-post-thumbnail product_cat-all product_cat-magazines column-1_3 instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-10" title="product-10">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Beta blockers</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>17.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="208" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-209 product type-product status-publish has-post-thumbnail product_cat-all product_cat-books product_tag-authority product_tag-book product_tag-novel  column-1_3 last instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-1" title="product-1"> 
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Dosulepin</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>23.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="209" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                    Add to cart
                                                </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-212 product type-product status-publish has-post-thumbnail product_cat-all product_cat-books  column-1_3 first instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-7" title="product-7"> 
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Duloxetine</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>21.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="212" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a> </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-519 product type-product status-publish has-post-thumbnail product_cat-all product_cat-books  column-1_3  instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"> </a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-11" title="product-11"> 
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Escitalopram</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>24.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="519" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                    Add to cart
                                                </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-214 product type-product status-publish has-post-thumbnail product_cat-all product_cat-books  column-1_3 last instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-9" title="product-9">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html/">Lamotrigine</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>20.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="214" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                    Add to cart
                                                </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-207 product type-product status-publish has-post-thumbnail product_cat-all product_cat-books  column-1_3 first instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-2" title="product-2"> 
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Mirtazapine</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>20.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="207" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                    Add to cart
                                                </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-213 product type-product status-publish has-post-thumbnail product_cat-all product_cat-magazines column-1_3 instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="hproduct-single.html" class="woocommerce-LoopProduct-link">
                                            </a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-8" title="product-8">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Paroxetine</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>15.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="213" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                    Add to cart
                                                </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-215 product type-product status-publish has-post-thumbnail product_cat-all product_cat-magazines column-1_3 last instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                            </a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                                </a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                                    </a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-12" title="product-12">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Sodium valproate</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>14.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="215" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-211 product type-product status-publish has-post-thumbnail product_cat-all product_cat-magazines  column-1_3 first instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                            </a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                                </a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-6" title="product-6">
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Trazodone</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span>19.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="211" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-210 product type-product status-publish has-post-thumbnail product_cat-all product_cat-books column-1_3 instock sale shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"> </a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                            </a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                                </a>
                                            <div class="post_thumb">
                                                <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                                    </a>
                                                <a class="hover_icon hover_icon_link" href="">
                                                    
                                                        <span class="onsale">Sale!</span>
                                                        <img src="{% static 'images/md3.jpg'%}" class="attachment-shop_catalog size-shop_catalog" alt="product-4" title="product-4"></a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="#">Temazepam</a></h3>
                                            <span class="price">
                                                    <del>
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>22.90
                                            </span>
                                            </del>
                                            <ins>  
                                                        <span class="woocommerce-Price-amount amount">
                                                            <span class="woocommerce-Price-currencySymbol">$</span>20.95
                                                        </span>
                                                    </ins>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="210" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">Add to cart</a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->

                                <!-- product -->
                                <li class="post-193 product type-product status-publish has-post-thumbnail product_cat-all product_cat-books product_tag-cognitive  column-1_3 last instock shipping-taxable purchasable product-type-simple">
                                    <a href="product-single.html" class="woocommerce-LoopProduct-link"></a>
                                    <div class="post_item_wrap">
                                        <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                            </a>
                                        <div class="post_featured">
                                            <a href="product-single.html" class="woocommerce-LoopProduct-link">
                                                </a>
                                            <div class="post_thumb">
                                                <a href="#" class="woocommerce-LoopProduct-link"></a>
                                                <a class="hover_icon hover_icon_link" href="product-single.html">
                                                    <img src="{% static 'images/md3.jpg'%}"class="attachment-shop_catalog size-shop_catalog" alt="product-5" title="product-5"> 
                                                    </a>
                                            </div>
                                        </div>
                                        <div class="post_content">
                                            <h3><a href="product-single.html">Lithium</a></h3>
                                            <span class="price">
                                                    <span class="woocommerce-Price-amount amount">
                                                        <span class="woocommerce-Price-currencySymbol">$</span> 18.90
                                            </span>
                                            </span>
                                            <a rel="nofollow" href="#" data-quantity="1" data-product_id="193" data-product_sku="" class="button product_type_simple add_to_cart_button ajax_add_to_cart">
                                                    Add to cart
                                                </a>
                                        </div>
                                    </div>
                                </li>
                                <!-- /product -->
                            </ul>
                            <!-- /All products -->
                        </div>
                        <!-- /list_products -->
                    </div>
                    <div class="sidebar widget_area scheme_dark" role="complementary">
                        <div class="sidebar_inner widget_area_inner">
                            <!-- woocommerce_product_categories -->
                            <aside class="widget_number_1 widget woocommerce widget_product_categories">
                                <h5 class="widget_title">
                                    Mental Health Medication
                                </h5>
                                <ul class="product-categories">
                                    <li class="cat-item cat-item-37">
                                        <a href="https://www.nimh.nih.gov/health/topics/mental-health-medications" target="_blank" ># Transforming the understanding
                                           .</a>
                                    </li>
                                    <li class="cat-item cat-item-38">
                                        <a href="https://www.nimh.nih.gov/health/topics/mental-health-medications#part_2360"target="_blank"># Anti-Anxiety Medications.</a>
                                        <span class="count"></span>
                                    </li>
                                    <li class="cat-item cat-item-39">
                                        <a href="https://www.webmd.com/mental-health/medications-treat-disorders"># Drugs to Treat Mental Illness</a>
                                        <span class="count"></span>
                                    </li>
                                    <li class="cat-item cat-item-39">
                                        <a href="https://www.webmd.com/mental-health/medications-treat-disorders"># Drugs to Treat Mental Illness</a>
                                        <span class="count"></span>
                                    </li>
                                    <li class="cat-item cat-item-39">
                                        <a href="#https://www.webmd.com/mental-health/medications-treat-disorders#091e9c5e80007853-2-5"># What Drugs Treat Psychotic Disorders</a>
                                        <span class="count"></span>
                                    </li>
                                    <li class="cat-item cat-item-39">
                                        <a href="https://www.webmd.com/mental-health/medications-treat-disorders"># Can Drugs Cure Mental Illness?</a>
                                        <span class="count"></span>
                                    </li>
                                    <li class="cat-item cat-item-39">
                                        <a href="#">#Drugs to Treat Mental Illness</a>
                                        <span class="count"></span>
                                    </li>
                                </ul>
                            </aside>
                            <!-- /woocommerce_product_categories -->

                            <!-- sidebar woocommerce_price_filter -->
                         
                            <!-- sidebar woocommerce_price_filter -->

                            <!-- sidebar woocommerce_product_tag_cloud -->
                            <aside class="widget_number_3 widget woocommerce widget_product_tag_cloud">
                                <h5 class="widget_title">
                                    Read about medicines used to treat mental health problems.
                                </h5>
                                <div class="tagcloud">
                                    <a href="#" class="tag-link-51 tag-link-position-1" title="1 product">Psychiatry</a>
                                    <a href="#" class="tag-link-50 tag-link-position-2" title="1 product">Stopping or coming off antidepressants</a>
                                    <a href="#" class="tag-link-33 tag-link-position-3" title="1 product">Antidepressants</a>
                                    <a href="#" class="tag-link-49 tag-link-position-4" title="2 products">Selective serotonin reuptake inhibitors (SSRIs)</a>
                                </div>
                            </aside>
                            <!-- sidebar woocommerce_product_tag_cloud -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

         <!-- footer -->
         <footer class="contacts_wrap scheme_light">
            <div class="contacts_wrap_inner">
                <div class="content_wrap">
                    <div class="logo">
                        <a href="">
                                <img src="{% static 'images/a55.png'%}" class="logo_footer" alt="">
                            </a>
                    </div>
                    <div class="contacts_address">
                        <address class="address_right">
                                Phone: <a href="tel:+1234567890">123-456-7890</a><br> Fax: <a href="tel:+1234567890">123.456.7890</a>
                            </address>
                        <address class="address_left">
                                123, Cairo<br> Egypt, IL 60606 
                            </address>
                    </div>
                    <div class="sc_socials sc_socials_type_icons sc_socials_shape_round sc_socials_size_tiny">
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_twitter">
                                <i class="fa fa-brands fa-twitter"></i>                                </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_facebook">
                                <i class="fa fa-brands fa-facebook"></i>                                </a>
                        </div>
                        <div class="sc_socials_item">
                            <a href="#" target="_blank" class="social_icons social_linkedin">
                                <i class="fa fa-brands fa-linkedin"></i>

                            </a>
                        </div>
                        <div class="container">
                            <form action="https://www.google.com/search" method="get" target="_blank" id="search-form">
                              <input name="q" type="text" placeholder="Search Google..." autocomplete="off"  >
                                    <button type="button"><i class="fa fas fa-microphone"></i></button> 
                            </form>
                            <p class="info"></p>
                          </div>
                         </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- /footer -->

        <!-- copyright_wrap footer-->
    
    </div>
        <!-- Scroll to top -->
        <a  href="#" class="scroll_to_top icon- up"  title="Scroll to top">
            <i class="fa fa-solid fa-arrow-up"></i>
    
           
        </a>
        
        <!-- /Scroll to top -->

 <!-- copyright_wrap footer-->
 <div class="copyright_wrap copyright_style_text scheme_dark">
    <div class="copyright_wrap_inner">
        <div class="content_wrap">
            <div class="copyright_text">
                <a href="#" target="_blank" class="copyright_link">Mental Health</a>
            </div>
        </div>
    </div>
</div>
<!-- /copyright_wrap footer -->
    <!-- All Script -->
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.js"></script>
    <script type='text/javascript' src="{% static 'js/_main.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/packed.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/theme.init.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/core.utils.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/core.init.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/theme.shortcodes.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/swiper/swiper.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/isotope.pkgd.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/woocommerce/js/woocommerce.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/woocommerce/js/jquery.cookie.min.js'%}"></script>
    <script type='text/javascript' src="{% static 'js/woocommerce/js/jquery.blockUI.min.js'%}"></script>
    <!-- /All Script -->
    <script defer src="https://static.cloudflareinsights.com/beacon.min.js/vaafb692b2aea4879b33c060e79fe94621666317369993" integrity="sha512-0ahDYl866UMhKuYcW078ScMalXqtFJggm7TmlUtp0UlD4eQk0Ixfnm5ykXKvGJNFjLMoortdseTfsRT8oCfgGA==" data-cf-beacon='{"rayId":"7a766c8b4d1f5385","token":"dab7be3e6ab04952b40d6c8e93f6cc2a","version":"2023.2.0","si":100}'
        crossorigin="anonymous"></script>
</body>

</html>